<div class="box">
  <div class="box2">
    <div class="image">
      <img class="cover" src="{{ src }}" alt="logo companies" srcset="" />
      
    </div>

    <div class="description">
      <h2 class="bookTitle">
        {{ book.title }}
      </h2>
      
      <table>
        <tr class="tr">
          <th>Author</th>
          <td>{{author}}</td>
        </tr>
          <tr class="tr">
            <th>Plot</th>
            <td>{{description}}</td>

          </tr>
   
      </table>   
    </div>
    <div class="contents" [innerHTML]="book.contents">{{ book.contents }}</div>
  </div>
</div>
<a href="{{ details }}" target="_blank">
  <button class="button is-info">More About {{ book.title }}</button>
</a>
