.description{padding-left: 6px;}

.aboutcomp{
    margin: 0;
}
.cover{
    height: fit-content;
    width: auto;
    top: 0;
    max-width: 170px;
}
.box{
    display: flex;
    align-content: center;

    padding: 15px;
    padding-left: 20px;
    position: relative;
    border-top: 5px solid #8EC5FC;
    
    
}
.tr{
    padding:3px;
}
.box2{
    display: flex;
}
.image{
    display: flex;
}
.logocomp{border-radius: 28px;
    display: flex;
    height: 56px;
    position: relative;
    right: 20px;
  
    width: 156px;
}
.contents{
    margin-top: 25px;
}
.bookTitle{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #333;
    word-wrap: break-word;
    margin: 10px 0;
}
.companyName{
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    word-wrap: break-word;
    margin: 10px 0;
    text-transform: uppercase;
}
.jobstitle{
    display: block;
    padding-left: 15px;
}
.jobsdate{
    display: flex;
    padding-left: 10px;
}
.datetypography{
margin: 0px 0px 0px;}
@media only screen and (max-width: 600px) {
    .box2{
        display: block;
    }
    .image{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .bookTitle{
        text-align: center;
    }
}