 <div class="homedes">
   <h2 class="descriptionHome1">Find new books</h2>
  <h3 class="descriptionHome">From great classics to underground books,there's all you need</h3>
 </div>
  <div class="formdiv" > 
 <form (ngSubmit)="onSubmit(inputCategory)" >


<mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
<mat-label>Search a category</mat-label>
<input id="inputcomp" (input)='inputCategory=($any($event.target!.value))' name="inputCategory" matInput >
</mat-form-field>

    </form>
    <button mat-raised-button (click)="onSubmit(inputCategory)">search</button>
  </div>
  
  <sa-spinner-round id='spinner'></sa-spinner-round>
 <table *ngIf='books.length>0' class="table  is-striped is-hoverable">
  <thead>
      <tr>
          <th>Title</th>
          <th>Author</th>
      </tr>
  </thead>
  <tbody >
     
          <tr class="results" [routerLink]= "['BookDetails', book.key]" *ngFor='let book of books'>
            <a [routerLink]= "['BookDetails', book.key]">
            <td >
                  {{book.title}}
                  
              </td>
            </a>
              <td>
                <span *ngFor='let author of book.authors'>
                  {{author.name}}
                 </span>
              </td>
          </tr>
      
       
     
      
  </tbody>
</table>
